# Arquivos Python
*.pyc
__pycache__/

# Ambiente Virtual
venv/
*/venv/

# Arquivos de ambiente
.env*
!.env.example

# Arquivos de IDE
.idea/
.vscode/

# Arquivos Estáticos coletados (se usar 'staticfiles')
staticfiles/

# Arquivos de Banco de Dados (se usar sqlite)
*.sqlite3

# Outros arquivos
pessoal.txt