{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Backup Web{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Sistema Backup Web</h1>
        <nav>
            {% if user.is_authenticated %}
                Olá, {{ user.username }}!
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Seu Nome ou Empresa</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>